<div id="footer" class="section o-grid-container">
	<h2 class="section__title"><span>历年精彩回顾</span></h2>
	<div class="o-grid-row">
		{% for item in previousEvents %}
		{% set image = item.image %}
		<div data-o-grid-colspan="12 S6 M4">
			{% include "partials/ig-image.njk" %}
		</div>
		{% endfor %}
	</div>
</div>

<footer class="o-footer" data-o-component="o-footer">
  <div class="o-grid-container">
	  <div class="o-footer__copyright">
    	&#xA9; <span class="o-footer__year"></span> 摩根大通企业竞跑赛
	  </div>       
  </div>      
</footer>

<script src="/bower_components/Swiper/dist/js/swiper.js"></script>
<script src="scripts/main.js"></script>

</body>


</html>