<footer class="o-footer" data-o-component="o-footer">
  <div class="o-grid-container">
    <div class="o-footer__wrapper">
      <div class="o-footer__copyright">
          <span>&#xA9; <span class="o-footer__year"></span> 摩根大通企业竞跑赛</span>
      </div>       
    </div>
  </div>      
</footer>

<script src="/bower_components/marked/marked.min.js"></script>
<script src="scripts/main.js"></script>

</body>


</html>