<figure class="ig-figure ig-figure--image" data-media-ratio="{{image.ratio}}">
	
  {% if image.link %}
  <a href="{{image.link}}-news.html" target="_blank"
  {% else %}
  <div
  {% endif %}
  class="ig-figure__image lazyload__outer">

    <img src="{{image.src}}" class="lazyload__inner">

  {% if image.caption %}
    <figcaption class="ig-figure__caption">{{image.caption}}</figcaption>
  {% endif %}

  {% if image.link %}
  </a>
  {% else %}
  </div>
  {% endif %}

</figure>