<figure class="ig-figure ig-figure--image" data-media-ratio="">
	
  {% if figure.link %}
  <a href="{{figure.link}}-news.html" target="_blank"
  {% else %}
  <div
  {% endif %}
  class="ig-figure__image lazyload__outer">

    <img src="{{figure.src}}" class="lazyload__inner">

  {% if figure.caption %}
    <figcaption class="ig-figure__caption">{{figure.caption}}</figcaption>
  {% endif %}

  {% if figure.link %}
  </a>
  {% else %}
  </div>
  {% endif %}

</figure>