<figure class="ig-figure ig-figure--image
{% if image.mobileOnly %} ig-figure--mobile{% endif %}
{% if image.desktopOnly %} ig-figure--desktop{% endif %}" data-media-ratio="{{image.ratio}}">
	
  {% if image.link %}
  <a href="{{image.link}}" target="_blank"
  {% else %}
  <div
  {% endif %}
  class="ig-figure__image lazyload__outer"{% if image.extraStyle %} style="{{image.extraStyle}}"{% endif %}>

    <img src="{{image.src}}" class="lazyload__inner">

  {% if image.caption %}
    <figcaption class="ig-figure__caption">{{image.caption}}</figcaption>
  {% endif %}

  {% if image.link %}
  </a>
  {% else %}
  </div>
  {% endif %}

</figure>