<!DOCTYPE html>
<html lang="zh-Hans">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="FT中文网">
  <meta name="robots" content="index,follow">
  <meta name="author" content="FTC Interactive Graphics"> 
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

<meta property="og:title" content="{{title}}"/>
<meta property="og:type" content="{{ogType}}"/>
<meta property="og:image" content="{{ogImage}}"/>
<meta property="og:url" content="{{ogUrl}}">
<meta property="og:description" content="{{description}}" />
<meta property="og:locale" content="zh-Hans">
<meta property="og:site_name" content="FT中文网">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@FTChinese">
<meta name="twitter:title" content="{{ogTitle}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image" content="{{ogImage}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{iconsPath}}favicons/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{iconsPath}}favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{iconsPath}}favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{iconsPath}}favicons/apple-touch-icon-76x76.png">
<link href="{{iconsPath}}favicons/favicon.ico" type="image/x-icon" rel="shortcut icon" />

<title>{{title}} - FT中文网</title>
{% if swiper %}
<link rel="stylesheet" type="text/css" href="/bower_components/Swiper/dist/css/swiper.css">
{% endif %}
<link rel="stylesheet" type="text/css" href="styles/main.css">

<!--[if IE]>
<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
<![endif]-->
</head>

<body>

<header class="o-header" data-o-component="o-header">
    <div class="o-grid-container">
      <div class="o-header__wrapper">

        <div class="o-header__left">
          <div class="o-header__logo">
            <a class="o-header__logo-link" href="index.html" title="{{title}}">
              <span>{{title}}</span>
              <img src="images/cc-logo.png" target="_blank">
            </a>
          </div> 
        </div>

        <div class="o-header__right">
          <div class="o-share" data-o-component="o-share"></div>          
        </div>         
      </div>
        
    </div><!-- o-header__container -->    
</header>

{% block main %}{% endblock %}

<div id="footer" class="o-grid-container">
  <h2 class="section-title"><span>历年精彩回顾</span></h2>
  <div class="o-grid-row">
    {% for image in previousEvents %}
    <div data-o-grid-colspan="12 S6 M4">
      {% include "partials/ig-image.njk" %}
    </div>
    {% endfor %}
  </div>
</div>

<footer class="o-footer" data-o-component="o-footer">
  <div class="o-grid-container">
    <div class="o-footer__wrapper">
      <div class="o-footer__copyright">
          <span>&#xA9; <span class="o-footer__year"></span> 摩根大通企业竞跑赛</span>
      </div>       
    </div>
  </div>      
</footer>

{% if swiper %}
<script src="/bower_components/Swiper/dist/js/swiper.min.js"></script>
{% endif %}
<script src="scripts/main.js"></script>

</body>


</html>