{% include "partials/header.njk" %}
<div id="headline" class="o-grid-container">
	<div class="o-grid-row">
		{% if headline.images %}
		<div data-o-grid-colspan="12 M6">
			{% for image in headline.images%}
			{% include "partials/ig-image.njk" %}
			{% endfor %}
		</div>
		{% endif %}

		{% if headline.video %}
		{% set video = headline.video %}
		<div data-o-grid-colspan="12 M6">
			{% include "partials/ig-video.njk" %}
		</div>
		{% endif %}
	</div>
</div>

<div id="main" class="o-grid-container">
	<div class="section section-news section-news--home">
		{% for news in newsList %}
		<article class="section-news__item">
			{{news}}
		</article>
		{% endfor %}
	</div>
</div>

{% include "partials/footer.njk" %}