{% extends "base.html" %}
{% block main %}
<div class="banner-media o-grid-container">
	<div class="o-grid-row">
		{% if bannerPitch.image %}
			{% set image = bannerPitch.image %}
			<div class="banner-col o-grid-colspan" data-o-grid-colspan="12 M6">
				{% include "partials/ig-image.html" %}
			</div>
		{% endif %}

		{% if bannerPitch.video %}
			{% set video = bannerPitch.video %}
			<div class="banner-col o-grid-colspan" data-o-grid-colspan="12 M6">
				{% include "partials/ig-video.html" %}
			</div>
		{% endif %}
	</div>
</div>

<div id="main" class="o-grid-container">
	{% for article in articles %}
		<article class="content-main__article">
			{% markdown article %}
		</article>
	{% endfor %}
</div>
{% endblock %}