{% include "partials/header.njk" %}
<div id="headline" class="o-grid-container">
	<div class="o-grid-row">
		<div class="o-grid-column">left</div>
		<div class="o-grid-column">right</div>
	</div>
</div>

<div id="top-stories" class="o-grid-container">
	<div class="top-stories__wrapper">
		Top-stories
	</div>
</div>

<div id="past-moments" class="o-grid-container">
	<div class="o-grid-row">
		Past Events
	</div>
</div>

{% include "partials/footer.njk" %}