{% extends "base.html" %}
{% block main %}
<div id="headline" class="section o-grid-container">
	<div class="section__wrapper">
		<div class="o-grid-row">
			{% if campaignMedia.images %}
			<div data-o-grid-colspan="12 M6">
				{% for image in campaignMedia.images%}
				{% include "partials/ig-image.html" %}
				{% endfor %}
			</div>
			{% endif %}

			{% if campaignMedia.video %}
			{% set video = campaignMedia.video %}
			<div data-o-grid-colspan="12 M6">
				{% include "partials/ig-video.html" %}
			</div>
			{% endif %}
		</div>		
	</div>

</div>

<div id="top-news" class="section o-grid-container">
	{% for article in articles %}
		<article class="article">
			{% markdown article %}
		</article>
	{% endfor %}
</div>
{% endblock %}