#swiper {
	@include oGridRespondTo($until: M) {
		padding: 0;
	}
}

.swiper__wrapper {
	padding: 10px 0;

	@include oGridRespondTo(M) {
		padding: 20px 0;
	}
}

.content-main__article {
	border-bottom: 1px dotted $grey-tint3;
	padding: 0 0 10px 0;

	&:last-child {
		border-bottom: 0;
	}

	img {
		box-sizing: border-box;
		margin: 0 20px 20px 0;
		width: 50%;
		float: left;
	}
	@include clearfix;
}

.article__title,
.article__stand-first {
	text-align: center;
	margin: 10px 0;
	padding: 0 40px;
}

.article__subheading {
	font-size: 20px;
}

.article__time-byline {
	font-size: 16px;
	color: $grey-tint2;
}

.article__byline {
	margin: 0;
	padding: 0;
	font-size: inherit;
	display: inline-block;
}

.article__timestamp {
	margin: 0;
	padding: 0 0 0 10px;
	font-size: inherit;
	display: inline-block;
}

.content-aside__wrapper {
	background-color: $pink-tint1;
	color: $grey-tint5;
	
	h4, p, ul {
		margin: 0;
		padding: 10px;
	}
	h4 {
		border-top: 1px solid;
		border-bottom: 1px dotted;
		border-color: $pink-tint4;
		background-color: $pink-tint2;
		margin-top: 1em;
	}
	p {
		font-size: 16px;
	}
	li {
		line-height: 1.7;
	}
}

