body {
  font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC", "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC", "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti, sans-serif;
  margin: 0;
  padding: 0;
  @include oColorsFor(page);
}

@include oGridGenerate;

#gallery-by-year {
  @include igSetMediaRatio(16/15);
}

@include lazyloadMedia;

[data-media-ratio="1/2"] {
  .lazyload__outer {
    @include igSetMediaRatio(1/2);
  }
}
[data-media-ratio="9/16"] {
  .lazyload__outer {
    @include igSetMediaRatio(9/16);
  }
}
[data-media-ratio="16/15"] {
  .lazyload__outer {
    @include igSetMediaRatio(16/15);
  }  
}
[data-media-ratio="7/5"] {
  width: 90%;
  .lazyload__outer {
    @include igSetMediaRatio(7/5);
  } 
}

figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  @include oColorsFor(ig-link, text);
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.7;
}