$teal-1: #26747a;
$teal-3: #0f8a99;
$pink: #fff1e0;
$claret: #9e2f50;
$pink-tint1: #f7e9d9;
$pink-tint2: #e9decf;
$pink-tint4: #a7a59b;
$grey-tint2: #999999;
$grey-tint3: #777777;
$grey-tint5: #333333;

@mixin aspectRatio($ratio: 9/16) {
	@if unit($ratio) != "%" {
		$ratio: percentage($ratio);
	}
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-top: $ratio;
}

@mixin clearfix {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

body {
  font-family: "Helvetica Neue", "Lucida Grande", Verdana, "PingFang SC", "PingFang TC", "Hiragino Sans GB", "Heiti SC", "Heiti TC", "WenQuanYi Micro Hei", "Microsoft YaHei", "Microsoft JhengHei", STHeiti, sans-serif;
  margin: 0;
  padding: 0;
  background-color: $pink;
  color: $grey-tint5;
}

figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: $teal-3;
  text-decoration: none;
}

p {
  font-size: 18px;
  line-height: 1.7;
}

.o-grid-container {
  @include oGridContainer;
}
.o-grid-row {
  @include oGridRow;
}
.o-grid-colspan {
  @include oGridColspan;
}
.banner-col {
  @include oGridColspan((default: 12, M: 6), $width-only: true);
}
// .banner-col.banner-col__mobile {
//   @include oGridRespondTo(M) {
//     display: none;
//   }
// }
// .banner-col.banner-col__desktop {
//   @include oGridRespondTo(M) {
//     display: block;
//   }
//   @include oGridRespondTo($until: M) {
//     display: none;
//   }
// }
.footer-col {
  @include oGridColspan((default: 12, S: 6, M: 4), $width-only: true);
}
.content-main {
  @include oGridColspan((default: 12, M: 8), $width-only: true);
}
.content-aside {
  @include oGridColspan((default: 12, M: 4), $width-only: true);
}
.footer-title {
  border-top: 1px solid $pink-tint4;
  background-color: $pink-tint2;
  margin-bottom: 0.5em;
}