#swiper {
	@include oGridRespondTo($until: M) {
		padding: 0;
	}
}
.section__title {
	margin: 0;
	padding: 0;

	#footer & {
		margin-top: 20px;
	}
}

.section__wrapper {
	border-bottom: 1px dotted;
	@include oColorsFor(article, border);
	padding: 10px 0 0 0;

	@include oGridRespondTo(M) {
		padding: 20px 0 0 0;
	}

	&--swiper {
		padding-bottom: 10px;
		@include oGridRespondTo(M) {
			padding-bottom: 20px;
		}
	}
}

.ig-figure--video {
	#main & {
		border-bottom: 1px dotted;
		@include oColorsFor(article, border);
	}
}
.article {
	border-bottom: 1px dotted;
	@include oColorsFor(article, border);
	padding: 0 0 10px 0;

	&:last-child {
		border-bottom: 0;
	}

	#top-news & {
		@include oGridRespondTo(M) {
			max-width: 80%;
			margin: 0 auto;
		}
	}

	img {
		box-sizing: border-box;
		margin: 0 20px 20px 0;
		width: 50%;
		float: left;
	}
	@include clearfix;
}

.article__title,
.article__stand-first {
	text-align: center;
	margin: 10px 0;
	padding: 0 40px;
}

.article__subheading {
	font-size: 20px;
}

.article__time-byline {
	font-size: 16px;
	@include oColorsFor(byline, color);
}

.article__byline {
	margin: 0;
	padding: 0;
	font-size: inherit;
	display: inline-block;
}

.article__timestamp {
	margin: 0;
	padding: 0 0 0 10px;
	font-size: inherit;
	display: inline-block;
}

.section__aside {
	@include oColorsFor(aside, background);
	@include oColorsFor(aside, text);
	
	h4, p, ul {
		margin: 0;
		padding: 10px;
	}
	h4 {
		border-top: 1px solid;
		border-bottom: 1px dotted;
		@include oColorsFor(section-title);
		margin-top: 1em;
	}
	p {
		font-size: 16px;
	}
	li {
		line-height: 1.7;
	}
}

