.ig-figure {
  margin: 0 auto;
  padding: 15px 0;

  .section-col__secondary & {
  	padding: $o-header-height + 15px 0;
  }

	&--mobile {
		display: block;
	}

	@include oGridRespondTo(M) {
		&--mobile {
			display: none;
		}
	}

	&__caption {
		box-sizing: border-box;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		color: #fff;
		margin: 0;
		padding: 15px;
		background-color: rgba(0, 96, 156, .85);
	}


	&__title {
		margin: 1em 0 0.5em 0;
	}

	&__video {
		@include oColorsFor(ig-video, background);
	}

	&__image {
		@include oColorsFor(ig-image, background);
	}

	img {
		object-fit: cover;
	}

	video {
		box-sizing: border-box;
		object-fit: contain; 
	}
}


