.ig-figure {
  margin: 0 auto;

	&--mobile {
		display: block;
		@include oGridRespondTo(M) {
			display: none;
		}
	}

	&--desktop {
		display: none;
		@include oGridRespondTo(M) {
			display: block;
		}
	}

	&__caption {
		box-sizing: border-box;

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		color: #fff;
		margin: 0;
		padding: 15px;
		background-color: rgba(0, 96, 156, .85);
	}

	&__video {
		@include oColorsFor(ig-video, background);
	}

	&__image {
		@include oColorsFor(ig-image, background);
	}

	img {
		object-fit: cover;
	}

	video {
		box-sizing: border-box;
		object-fit: contain; 
	}
}


