@import "ig-figure";

.top-stories__wrapper {
  margin: 40px 0;
  h2,
  h3 {
    text-align: center;
  }
  @include igDivider; 
}

.top-story__article {
  padding: 1px 10%;
}

.o-expander {
}

.o-expander__content {
	img {
		box-sizing: border-box;
		padding: 20px 20px 20px 0;
		width: 50%;
		float: left;
	}

	&[aria-hidden=true] {
		p, ul, ol, h4 {
			display: none;
		}
		p:first-of-type {
			display:block;
		}
	}
	&[aria-hidden=false] {
		p, ul, ol, h4 {
			display: block;
		}
	}
}

.o-expander__toggle {
	box-sizing: border-box;
	padding: 0.5em 2em;
	font-size: 18px;
	float: right;
}
